<tr>
    <td><span class="ui-icon ui-icon-pencil"></span></td>
    <td><span class="ui-icon ui-icon-trash"></span></td>
    <td><%= _id %></td>
    <td><%= version %></td>
    <td><%= min_size %></td>
    <td><%= max_terrain %></td>
    <td><%= max_difficulty %></td>
</tr>
