<tr data-id="<%= _id %>">
    <td class="command" data-command="editRegion"><span class="ui-icon ui-icon-pencil"></span></td>
    <td class="command" data-command="deleteRegion"><span class="ui-icon ui-icon-trash"></span></td>
    <td class="command" data-command="mapRegion"><span class="ui-icon ui-icon-triangle-1-e"></span></td>
    <td><%= version %></td>
    <td><%= minSize %></td>
    <td><%= maxTerrain %></td>
    <td><%= maxDifficulty %></td>
</tr>
