<tr data-id="<%= _id %>">
    <td class="command" data-command="editRegion"><span class="ui-icon ui-icon-pencil"></span></td>
    <td class="command" data-command="deleteRegion"><span class="ui-icon ui-icon-trash"></span></td>
    <td class="command" data-command="mapRegion"><span class="ui-icon ui-icon-triangle-1-e"></span></td>
    <td><%= version %></td>
    <td><%= min_size %></td>
    <td><%= max_terrain %></td>
    <td><%= max_difficulty %></td>
</tr>
